<div class="row">
<div class="col-md-4">
<p>
  <select (change)="getWeatherData($event.target.value)">
    <option *ngFor="let c of cities" value={{c.id}}>{{c.name}}</option>
   </select>
</p>
</div>
<div class="col-md-8"><app-gmap>...</app-gmap></div>
</div>
<table class="table table-striped">
<thead>
	<tr>
		<th >Date</th>
		<th >Time</th>
		<th >Temp</th>
		<th >Press</th>
		<th >Hum</th>
		<th >Clouds</th>
		<th >Wind speed</th>
		<th >wind degree</th>
	</tr>
</thead>
	<tr *ngFor="let day of data">
		<td >{{day.dt | date:'dd.MM'}}</td>
		<td >{{day.dt | date:'HH:mm'}}</td>
		<td >{{day.main.temp}}</td>
		<td >{{day.main.pressure}}</td>
		<td >{{day.main.humidity}}</td>
		<td ><img alt="" src="http://openweathermap.org/img/w/{{day.weather[0].icon}}.png">
		{{day.weather[0].description}} ({{day.clouds.all}} %)</td>
		<td >{{day.wind.speed}}</td>
		<td >{{day.wind.deg}}</td>
	</tr>
</table>